ul li:before { content:"-"; position:relative; left:-5px; }
ul li { text-indent:-5px; list-style-type: none; padding: 3px; }
img { padding: 1px; border: 1px double black; }
figcaption { font-style: italic; padding: 10px; }
#logo { color: black; text-decoration: none; }
